<p id="notice"><%= notice %></p>

<h1>Listing Teaches</h1>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>surname</th>
      <th>lastname</th>
      <th>SubjectID</th>
      <th>SubjectName</th>
      <th>Sec</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teaches.each do |teach| %>
      <tr>
        <td><%= teach.user.name.split(" ")[0] %></td>
        <td><%= teach.user.name.split(" ")[1] %></td>
        <td><%= teach.sec.subject.subject_ID %></td>
        <td><%= teach.sec.subject.subject_Name %></td>
        <td><%= teach.sec.sec %></td>
        <td><%= link_to 'Show', teach %></td>
        <td><%= link_to 'Edit', edit_teach_path(teach) %></td>
        <td><%= link_to 'Destroy', teach, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<% if admin_user? %>
<br>
<a class="btn btn-primary" href="/teaches.csv">Download CSV</a>
<% end %>
