<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @study.user.name %>
</p>

<p>
  <strong>subject:</strong>
  <%= @study.sec.subject.subject_Name %>
</p>

<p>
  <strong>Sec:</strong>
  <%= @study.sec.sec %>
</p>

<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>
