<p id="notice"><%= notice %></p>

<p>
  <strong>Activityname:</strong>
  <%= @activity.activityname %>
</p>

<p>
  <strong>Dateactivity:</strong>
  <%= @activity.dateactivity %>
</p>

<p>
  <strong>Place:</strong>
  <%= @activity.place %>
</p>

<p>
  <strong>Count:</strong>
  <%= @activity.counts %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @activity.sec.subject.subject_Name %>
</p>

<p>
  <strong>Sec:</strong>
  <%= @activity.sec.sec %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', secs_path %>
